img#scrnimg {
    width: 100%;
}

div.startscreen-container {
    padding-bottom: 100px;
}

div.startscreen-content h1 {
    font-size: 3em;
    line-height: 59px;
    font-weight: bold;
}

.startscreen-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    padding: 40px 0;
    padding-top: 115px;
    padding-bottom: 40px;
}

p#dnabout {
margin-top: 58px ;

    font-size: 1.1em;
    line-height: 22px;
}

p#lang {
    writing-mode:vertical-rl;

    font-size: 1em;
    line-height: 20px;
    text-align: center;
}