.navbar-container {
    z-index: 99;

    width: 76%;
    position: fixed;
    justify-self: center;
    background-color: white;
}

nav.navbar-container ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    padding: 30px 0;
    border-bottom: 1px solid black;
}

nav.navbar-container li {
    cursor: pointer;
}

nav.navbar-container a, nav.navbar-container p {
    font-size: 1.1em;
    line-height: 22.28px;
    color: #828282;
    text-decoration: none;
}

nav.navbar-container a:hover, nav.navbar-container p:hover {
    color: #333333;
    transition: 0.33s;
    cursor: pointer;
}