.skills-container {
    text-align: center;
    font-family: 'Arial';
}

.skills-container h1 {
    padding-top: 91px;

    font-weight: bold;
    font-size: 2.1em;
    line-height: 42px;
}

.skills-container p {
    padding-top: 70px;

    font-size: 1.1em;
    line-height: 22px;
}

.skills-content-container {
    padding-top: 83px;
    padding-bottom: 110px;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.skills-block {
    white-space: nowrap;
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 10%;

    transition: transform 0.5s;
}

.skills-block:hover {
    transform: scale(1.3);
    transition: 0.5s;
}

.skills-block p {
    padding-top: 24%;
    padding-bottom: 40%;

    height: 10%;

    font-size: 0.9em;
    line-height: 17px;
    text-align: center;

    color: #828282;
    font-weight: bold;
}

.skills-block-img {
    height: 40%;
}

.skills-stars {
    width: 100%;
}

@media screen and (max-width: 640px) {
    .skills-content-container {
        flex-direction: column;
        align-items: center;
        padding-bottom: 0;
    }

    .skills-block {
        width: 30%;
        padding-bottom: 30%;
    }

    .skills-stars {
        width: 150%;
    }
}

