div.about-container {
    height: 506px;
    background-color: #F6F6F6;

    display: flex;
    flex-direction: column;
    align-items: center;
}

div.about-container h1 {
    font-weight: bold;
    font-size: 2.1em;
    line-height: 42px;
    text-align: center;

    padding-top: 120px;
    padding-bottom: 17px;
}

div.about-container p {
    font-size: 1em;
    line-height: 22px;
    text-align: center;
    word-wrap: break-word;

    max-width: 50%;
}

div.about-container p#parThree {
    max-width: 35%;
}

@media screen and (max-width: 640px) {
    div.about-container p {
        max-width: 85%;
    }
    div.about-container p#parThree {
        max-width: 80%;
    }
}