.contacts-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contacts-container h1 {
    padding-top: 12%;

    font-weight: bold;
    font-size: 34px;
    line-height: 42px;
    text-align: center;
}

.contacts-container p {
    padding-top: 3%;

    font-size: 18px;
    line-height: 22px;
    text-align: center;
}

.contacts-container button {
    margin-top: 5%;
    
    border: none;
    border-radius: 45px;
    background-color: rgba(0, 0, 0, 1);
    color: white;

    font-size: 18px;
    line-height: 22px;
    text-align: center;

    width: 19%;
    height: 42px;

    transition: 0.4s;
}

.contacts-container button:hover {
    transition: 0.2s;
    background-color: rgba(0, 0, 0, 0.75);
}

.contacts-container button:active {
    background-color: rgba(0, 0, 0, 0.9);
}

.socials-logos-container {
    padding-top: 9%;
    display: block;
    width: 100%;
    text-align: center;
}

.socials-logos-container a {
    padding: 0 3%;
}

.socials-logos-container img {
    transition: 0.4s;
}

.socials-logos-container img:hover {
    transition: 0.4s;
    transform: scale(1.1);
}

p#socials-description {
    color: #828282;

    padding-bottom: 10%;

    font-size: 14px;
    line-height: 17px;
    text-align: center;
}

@media screen and (max-width: 640px) {
    .contacts-container h1 {
        padding-top: 25%;
        padding-bottom: 10%;
    }

    .contacts-container button {
        width: 80%;
    }

    .socials-logos-container {
        padding-top: 13%;
        padding-bottom: 8%;
        padding-top: 9%;
        display: block;
        width: 100%;
        text-align: center;
    }

    .socials-logos-container a {
        padding: 0 5%;
    }

    #socials-description {
        margin-bottom: 15%;
    }
}